<div class="content-area" [ngClass]="{'hide': isShowDetailFailed && isPageLoading}">
  <a href="javascript:history.back()">&lt;&lt;{{'CommonlyUse.back'|translate}}</a>
  <h2>{{'EnvoyDetail.detail'|translate}}</h2>
  <div *ngIf="isShowDetailFailed" class="alert alert-danger" role="alert">
    <div class="alert-items">
      <div class="alert-item static">
        <div class="alert-icon-wrapper">
          <cds-icon class="alert-icon" shape="exclamation-circle"></cds-icon>
        </div>
        <span class="alert-text">
          {{errorMessage}}
        </span>
      </div>
    </div>
  </div>
  <div *ngIf="isPageLoading" class="pageLoading-bac"></div>
  <clr-spinner class="pageLoading" *ngIf="isPageLoading"></clr-spinner>
  <div *ngIf="!isShowDetailFailed">
    <br>
    <clr-tabs>
      <clr-tab>
        <button clrTabLink>{{'CommonlyUse.overview'| translate}}</button>
        <ng-template [(clrIfActive)]="isOverview">
          <clr-tab-content>
            <br>
            <div class="btn-group btn-sm">
              <button class="btn" (click)="refresh()">
                <cds-icon shape="refresh"></cds-icon> {{'CommonlyUse.refresh'|translate}}
              </button>
              <button class="btn" (click)="openDeleteConfrimModal()">
                <cds-icon shape="trash"></cds-icon> {{'CommonlyUse.delete'|translate}}
              </button>
            </div>
            <br>
            <div class="card card1">
              <ul class="list">
                <li>
                  <span><b>{{'CommonlyUse.name'|translate}}:</b></span>
                  <span>{{envoyDetail.name}}</span>
                </li>
                <li>
                  <span><b>{{'CommonlyUse.description'|translate}}:</b></span>
                  <span>{{envoyDetail.description}}</span>
                </li>
                <li>
                  <span><b>{{'CommonlyUse.creationTime'|translate}}:</b></span>
                  <span>{{envoyDetail.created_at | dateFormat}}</span>
                </li>
                <li>
                  <span><b>UUID:</b></span>
                  <span>{{envoyDetail.uuid}}</span>
                </li>
                <li>
                  <span><b>{{'NewCluster.namespace'|translate}}:</b></span>
                  <span>{{envoyDetail.namespace}}</span>
                </li>
                <li>
                  <span><b>{{'FederationOpenFlDetail.token_name'|translate}}:</b></span>
                  <span>{{envoyDetail.token_name}}</span>
                </li>
                <li>
                  <div style="display: flex; position: relative;">
                    <span><b>{{'FederationOpenFlDetail.token'|translate}}:</b></span>
                    <clr-password-container style="margin-top: 0px;">
                      <input style="width: 200px;" clrPassword placeholder="Password" name="password"
                        [value]="envoyDetail.token_str" />
                    </clr-password-container>
                    <span style="position: absolute; width: 200px; height: 30px; left: 260px;"></span>
                  </div>
                </li>
                <li>
                  <span><b>{{'CommonlyUse.status'|translate}}:</b></span>
                  <span class="label statusLabel"
                    [class.label-info]="envoyDetail.status===7 || envoyDetail.status===5 || envoyDetail.status===6"
                    [class.label-success]="envoyDetail.status===1" [class.label-danger]="envoyDetail.status===3"
                    [class.label-warning]="envoyDetail.status===2">{{constantGather('envoy',
                    envoyDetail.status).name | translate}}</span>
                </li>
                <li>
                  <span><b>{{'ExchangeDetail.infraProviderName'|translate}}:</b></span>
                  <span><a [routerLink]="[ '/infra-detail', envoyDetail.infra_provider_uuid ]"
                      *ngIf="envoyDetail.infra_provider_name != 'Unknown'">{{envoyDetail.infra_provider_name}}</a><span
                      *ngIf="envoyDetail.infra_provider_name === 'Unknown'">{{envoyDetail.infra_provider_name}}</span></span>
                </li>
                <li>
                  <span><b>{{'ExchangeDetail.endpointName'|translate}}:</b></span>
                  <span><a [routerLink]="[ '/endpoint-detail', envoyDetail.endpoint_uuid ]"
                      *ngIf="envoyDetail.endpoint_name != 'Unknown'">{{envoyDetail.endpoint_name}}</a><span
                      *ngIf="envoyDetail.endpoint_name === 'Unknown'">{{envoyDetail.endpoint_name}}</span></span>
                </li>
                <li>
                  <span><b>{{'ExchangeDetail.clusterUuid'|translate}}:</b></span>
                  <span>{{envoyDetail.cluster_uuid}}</span>
                </li>
                <li>
                  <span><b>{{'FederationOpenFlDetail.labels'|translate}}:</b></span>
                  <span class="label" *ngFor="let item of labelsList">{{item.key}}:{{item.value}}</span>
                </li>
              </ul>
            </div>
            <div class="card card1">
              <div class="card-block">
                <h6 class="card-title">{{'ExchangeDetail.certificateInformation'|translate}}:</h6>
              </div>
              <clr-datagrid>
                <clr-dg-column [clrDgField]="'name'">{{'CommonlyUse.name'|translate}}</clr-dg-column>
                <clr-dg-column>{{'ExchangeDetail.bindingMode'|translate}}</clr-dg-column>
                <clr-dg-column>{{'ExchangeDetail.commonName'|translate}}</clr-dg-column>
                <clr-dg-column>UUID</clr-dg-column>

                <clr-dg-row>
                  <clr-dg-cell>{{'EnvoyDetail.envoyClientCertInfo'|translate}}</clr-dg-cell>
                  <clr-dg-cell>{{constantGather('bindType', envoyDetail.envoy_client_cert_info?.binding_mode).name |
                    translate}}</clr-dg-cell>
                  <clr-dg-cell>{{envoyDetail.envoy_client_cert_info?.common_name ?
                    envoyDetail.envoy_client_cert_info?.common_name : 'N/A'}}</clr-dg-cell>
                  <clr-dg-cell>{{envoyDetail.envoy_client_cert_info?.uuid ? envoyDetail.envoy_client_cert_info?.uuid :
                    'N/A'}}</clr-dg-cell>
                </clr-dg-row>
              </clr-datagrid>
            </div>
          </clr-tab-content>
        </ng-template>
      </clr-tab>
      <clr-tab>
        <button clrTabLink>{{'Event.event'| translate}}</button>
        <clr-tab-content *clrIfActive>
          <app-events-list [entity-uuid]="envoy_uuid"></app-events-list>
        </clr-tab-content>
      </clr-tab>

    </clr-tabs>
  </div>
  <clr-modal [(clrModalOpen)]="openDeleteModal" [clrModalClosable]="false">
    <h3 class="modal-title">{{'CommonlyUse.delete'| translate}}</h3>
    <div class="modal-body">
      <div *ngIf="(isDeleteSubmit && isDeleteFailed)" class="alert alert-danger" role="alert">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <cds-icon class="alert-icon" shape="exclamation-circle"></cds-icon>
            </div>
            <span class="alert-text">
              {{errorMessage}}
            </span>
          </div>
        </div>
      </div>
      <h5>{{'EnvoyDetail.isDelete'|translate}}</h5>
      <clr-toggle-container class="clr-toggle-right" *ngIf="deleteType!='federation'">
        <clr-toggle-wrapper>
          <input type="checkbox" clrToggle name="options" required value="forceRemove" [(ngModel)]="forceRemove" />
          <label>{{'FederationDetail.forceRemove'|translate}}</label>
        </clr-toggle-wrapper>
      </clr-toggle-container>
    </div>
    <div class="modal-footer">
      <div *ngIf="isDeleteSubmit && !isDeleteFailed">
        <span>{{'CommonlyUse.deleting'| translate}} ... </span>
        <clr-spinner [clrInline]="true"></clr-spinner>
      </div>
      <button type="button" class="btn btn-outline" (click)="openDeleteModal=false">{{'CommonlyUse.cancel'|
        translate}}</button>
      <button type="submit" class="btn btn-primary" (click)="confirmDelete()">{{'CommonlyUse.delete'|
        translate}}</button>
    </div>
  </clr-modal>