.content-area{
    width: 100%;
    min-width: 1080px;
}
.filter-container {
    position: relative;

}
.searchicon {
    size: 10%;
}
.searchinput {
    margin: -2%;
}
.searchform{
    margin-left: 80%;
}
.btn-icon{
    width: 20px;
    height: 20px;
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 12%;
}
textarea {
    resize: none;
}
.t2{
    width: 100%;
    height:100px;
}
.refreshbtn {
    float: right;
    margin-right: 10px;
}
.cusbtn {
    display:flex;
    align-items: center;
    height: 36px;
    position: absolute;
    right:24px;
};

  