.content-area{
    width: 100%;
    min-width: 1080px;
}
.tabletext{
    text-align: left;
}
.checkbox1{
    position: relative;
    border-radius: 5px;
}
clr-checkbox-container {
    text-align: left;
    display:block;
    margin:0px auto;
}
.pageLoading {
    margin-top: 10%;
    margin-left: 45%;
}
.refreshbtn {
    float: right;
    margin-right: 12px;
}