.alert {
    width: 30%;
}
li span:first-of-type {
    font-size: 13px;
    display: inline-block;
    width: 150px;
    margin-right: 10px;
    line-height: 36px;
}
.t2{
    width: 300px;
    height: 100px;
}
.yamlbtn {
    display: flex;
    float: left;
    margin-bottom: 0;
    margin-right: 100%;
}
.t2{
    width: 500px;
    height: 100px;
}
.t3{
    width: 500px;
    height: 400px;
}
// mark changes
.no-warp::ng-deep {
    label {
        margin-right: 25px;
        line-height: 24px;
    }
    input {
        width:300px;
    }
    flex-direction: row;
    align-items: center;
}

.no-warp2::ng-deep {
    input {
        width:400px;
    }
}
.no-warp3::ng-deep {
    flex-direction: row;
    label {
        width: 150px;
        max-width: 150px;
        display: inline-block;
    }
}
// mark changes
.yaml {
    font-weight: 700;
    margin: 10px 0;
}
.yaml-warp::ng-deep {
    .clr-form-control {
        .clr-textarea-wrapper {
          width: 600px;
        }  
    }
    .clr-accordion-status {
        display: flex;
    }
}

.externalPartyIDLabel {
    margin-bottom: 0px;
}
.disabled {
    color: #666;
    cursor: not-allowed;
}

clr-stepper-panel{
    &::ng-deep {
        .clr-accordion-header-button {
            .clr-accordion-status {
                display: flex;
                align-items: center;
            }
        }
        .gpu-list {
            display: flex;
            .gpu-number-warp {
                display: flex;
                align-items: center;
                margin-top: 24px;
                label {
                    display: block;
                    color: #454545;
                    font-size: .65rem;
                    font-weight: 600;
                    font-weight: var(--clr-forms-label-font-weight, 600);
                    line-height: .9rem;
                    margin-right: 10px;
                }
                .gpu-number {
                    display: flex;
                    button {
                        outline: none;
                        color: #0072A3;
                        border: 1px solid #0072A3;
                        width: 25px;
                        height: 25px;
                        background-color: transparent;
                        cursor: pointer;
                        cds-icon{
                            position: relative;
                            left: -2px;
                            top: -2px;
                        }
                        &.minus{
                            border-top-left-radius: 3px;
                            border-bottom-left-radius: 3px;
                        }
                        &.plus {
                            border-top-right-radius: 3px;
                            border-bottom-right-radius: 3px;
                        }
                    }
                    input {
                        width: 40px;
                        height: 25px;
                        outline: none;
                        border: none;
                        border-top: 1px solid #0072A3;
                        border-bottom: 1px solid #0072A3;
                        text-align: center;
                    }
                }
            }
        }
    }
}