.alert {
    width: 30%;
}
li span:first-of-type {
    font-size: 15px;
    display: inline-block;
    width: 150px;
    margin-right: 10px;
    line-height: 36px;
}
.t2{
    width: 300px;
    height: 100px;
}
.yamlbtn {
    display: flex;
    float: left;
    margin-bottom: 0;
    margin-right: 100%;
}
.t2{
    width: 600px;
    height: 100px;
}
.t3{
    width: 500px;
    height: 400px;
}
.no-warp::ng-deep {
    label {
        margin-right: 15px;
        line-height: 24px;
    }
    flex-direction: row;
    align-items: center;
}
.yaml {
    font-weight: 700;
    margin: 10px 0;
}
.yaml-warp::ng-deep {
    .clr-form-control {
        .clr-textarea-wrapper {
          width: 600px;
        }  
    }
    .clr-accordion-status {
        display: flex;
    }
}
form {
    .clr-row-password {
        flex-direction: row;
        align-items: center;
        label {
            margin-right: 20px;
        }
    }
}