.card {
    .list {
        &.card1 {
            margin-top: -24px;
        }
        input {
            width: 99%;
        }
        select{
            width: 130px;
        }
    }
    .namespace {
        display: flex;
        margin-top: 0.15rem;
        label {
            width: 9.6rem;
            flex-shrink: 0;
            color: #454545;
            font-size: 0.65rem;
            font-weight: 600;
            padding-left: 0px;
        }
    }
    .t2{
        width: 100%;
        height: 60px;
    }
    .t3{
        width: 100%;
        height: 200px;
    }
    .btnTest {
        float: right;
        margin-right: 10px;
    }
    .TestPassedIcon{
        float: right;
        margin-right: 6px;
        margin-top: 6px;
    }
}

.refreshbtn {
    float: right;
    margin-right: 12px;
    margin-top: 12px;
}
